<div class="container-fluid">
  <div class="row">
    <div class="col-3 sidebar">
      <h2>NTS - Nhạc</h2>
      <h4>Nhạc</h4>
    </div>
    <div class="col-9 main-content">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
         <span>QUẢN LÝ NHẠC</span>
        </div>
      </nav>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>