.container-fluid{
  
}

.sidebar{
    background-color: #e03;
    float: left;
    width: 20%;
    padding: 16px;
    height: 100vh ;
    color: white;
}
.main-content{
  background-color: rgb(207, 170, 170);
  padding: 16px;
  width: 100%;
  height: 100vh ;

}
h2 {
  font-size: 24px;
  margin-left: 10px;
}
h4{
  background: #ea6464!important;
  box-shadow: 0 10px 20px -10px #9c1f1f;
  font-weight: 500;
}
