<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 sidebar">
        <h2>NTS - Nhạc</h2>
        <h4>Nhạc</h4>
      </div>
      <div class="col-9 main-content">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="">
            <span>QUẢN LÝ NHẠC</span>
          </div>
        </nav>
        <div>
          <form class="d-flex" role="search" [formGroup]="searchcontentmusic" (ngSubmit)="getlist()" >
            <button type="button" placement="bottom-left" triggers="manual" class="btn btn-filter"> Tìm kiếm theo ... <i class="fas fa-caret-down"></i></button>
            <input type="text" formControlName="content" class="form-control input-content-search ng-untouched ng-pristine ng-valid" 
            placeholder="Tìm kiếm loại nhạc theo nội dung" >           
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </form>
          <button class="btn btn-outline-success" type="submit" (click)="getlist()">Làm mới</button>
          
        </div>
        <div class="table_music">
          <div>
            <label class="lable_total">Tổng số {{total}} loại nhạc</label>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
            data-bs-target="#staticBackdrop" (click)="openDialog()" > Thêm
              mới</button>
          </div>
        
          <table id="listmusic" style="border-collapse:collapse;" class="table table-striped table-bordered">
            <thead>
                <tr>
                  <th>STT</th>
                  <th>Xử lý</th>
                  <th>Tình trạng</th>
                  <th>Loại nhạc</th>
                  <th>Thời gian phát</th>
                  <th>Ngày phát</th>
                  <th>Nội dung</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let music of ListMusic; let i = index">
                    <td>{{i + 1}}</td>
                  <td>
                    <button class="btn" >Cập nhật</button>
                    <button class="btn" name="id" (click)="deleteMusic(music.musicId)">Xóa</button>
                  </td>
                  <td *ngIf="music.status">Đang hoạt động</td>
                  <td *ngIf="!music.status">Dừng hoạt động</td>
                  <td *ngIf="music.typeMusicCode.trim() == 'MUSICDAY'">Nhạc một lần</td>
                  <td *ngIf="music.typeMusicCode.trim() =='MUSICMONTH'">Nhạc theo tháng</td>
                  <td *ngIf="music.typeMusicCode.trim() =='MUSICYEAR'">Nhạc theo năm</td>
                  <td>{{music.timePlay}}</td>
                  <td>{{music.datePlay}}</td>
                  <td>{{music.musicContent}}</td>
                </tr>           
                
            </tbody>
            <tfoot>
            </tfoot>
        </table>
          <div class="">
            <button>Thêm loại nhạc</button> &nbsp;
            <button>Chỉnh sửa loại nhạc</button>&nbsp;
            <button>Xóa loại nhạc</button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>