<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chevron-up.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' rel='stylesheet'>
</head>

<body>
    <div class="body container-modal">
        <div class="modal-header modal-item">
            <div class="column-title">
                <h4 class="modal-title text-uppercase text-danger">Thêm mới loại nhạc</h4>
            </div>
            <div class="colum-btn">
                <button type="button" class="btn-close btn-header" disabled aria-label="Close"
                    (click)="closemodal()"></button>
            </div>
        </div>
        <div class="modal-content modal-item">
            <div class="rowcontentmusic">
                <div class="form-group">
                    <label class="form-label">
                        <h4>Loại Nhạc</h4>
                    </label>
                    <div class="controls">
                        <label class="radio">Nhạc một lần
                            <input type="radio" name="typeofmusic" value="MUSICDAY"
                                (change)="onChangtypemisic($event)">
                        </label>
                        <label class="radio">Nhạc theo tuần
                            <input type="radio" name="typeofmusic" value="MUSICMONTH"
                                (change)="onChangtypemisic($event)">
                        </label>
                        <label class="radio">Nhạc theo năm
                            <input type="radio" name="typeofmusic" value="MUSICYEAR"
                                (change)="onChangtypemisic($event)">
                        </label>
                    </div>
                    <label>
                        <h5>{{nametypechoice}}</h5>
                    </label>
                </div>
                <div class="contain-musicday" *ngIf="ShowContent>0">
                    <div class="musicday-item musicday-timeplay">
                        <label class="form-label">
                            <h5>Thời gian phát</h5>
                        </label>
                        <div class="Containerbnt-inputplay">
                            <div class="inputplay hour-item">
                                <button type="button" class="btn">
                                    <i class="gg-chevron-up"></i> &nbsp;
                                </button>
                                <input class="input-hour" type="number" placeholder="HH" [(ngModel)]="HourTimePlay">                                  
                                <button type="button" class="btn">
                                    <i class="gg-chevron-down"></i>
                                </button>
                            </div>
                            <div class="inputplay minute-item">
                                <button type="button" class="btn">
                                    <i class="gg-chevron-up"></i> &nbsp;
                                </button>
                                <input class="input-hour" type="number" placeholder="MM" [(ngModel)]="MinuteTimePlay">                                 
                                <button type="button" class="btn">
                                    <i class="gg-chevron-down"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="musicday-item musicday-dateplay" *ngIf="ShowContent<2">
                        <label class=" musicday-dateplay lable-title">
                            <h5>Ngày phát</h5>
                        </label>
                        <div class="musicday-dateplay">
                            <input matInput [matDatepicker]="datepicker" placeholder="dd/mm/yyyy" [(ngModel)]="DatePlay">
                                <mat-datepicker-toggle matSuffix [for]="datepicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #datepicker>
                                </mat-datepicker>
                        </div>

                    </div>
                    <div class="musicday-item musicday-content" *ngIf="ShowContent>0">
                        <div>
                            <label>
                                <h5>Nội dung</h5>
                            </label>
                            <div>
                                <input class="music-content-input" id="musicContent" type="text" [(ngModel)]="Content">
                                
                            </div>
                        </div>
                    </div>
                    <div class="musicday-item musicday-dayofweek" *ngIf="ShowContent == 2">
                        <div>
                            <label>
                                <h5>Ngày trong tuần</h5>
                            </label>
                            <div class="controls" *ngFor="let week of dayofweek">
                                <label class="checkbox">
                                    <input type="checkbox" name="monthplay" value="{{week.value}}"
                                    (change)="onChangedayofweek($event)" >
                                {{week.Name}}                                    
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="musicday-item musicday-monthplay" *ngIf="ShowContent>2">
                        <div class="timeitem monthplay-item">
                            <label>
                                <h5>Tháng phát</h5>
                            </label>
                            <div class="controls" *ngFor="let month of monthplay">
                                <label class="checkbox">
                                    <input type="checkbox" name="monthplay" value="{{month.value}}"
                                    class="ng-valid ng-dirty ng-touched" (change)="onChangmonthplay($event)">
                                {{month.Name}}
                                </label>
                            </div>
                        </div>
                        <div class="timeitem dayplay-item" *ngIf="ShowContent>2">
                            <label>
                                <h5>Ngày trong tháng</h5>
                            </label>
                            <div class="controls" *ngFor="let day of dayofmonth">
                                <label class="checkbox">
                                    <input type="checkbox" name="monthplay" value="{{day}}"
                                        (change)="onChangeofmonth($event)" class="ng-valid ng-dirty ng-touched">
                                    {{day}}                                    
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="musicday-item musicday-status">
                        <div>
                            <label>
                                <h5>Trạng thái</h5>
                            </label>
                        </div>
                        <div *ngFor="let status of status">
                            <label class="controls">
                                <input type="radio" name="monthplay" value="{{status.value}}"
                                        (change)="onChangeStatus($event)" class="ng-valid ng-dirty ng-touched">
                                    {{status.Name}}  
                            </label>     
                        </div>
                    </div>
                    <div class="musicday-item musicday-uploadfile">
                        <div>
                            <label>
                                <h5>Thêm nhạc</h5>
                            </label>
                        </div>
                        <div>                               
                            <div class="form-group">                                    
                                <input type="file"  #file (change)="uploadfile($event)"  style="display:none;">
                                <button type="button" class="btn btn-success" (click)="file.click()"><i class="fas fa-arrow-up"></i> &nbsp;Thêm nhạc</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer modal-item">
            <div class="footer-btn">
                <button class="btn btn-success" type="submit" (click)="createmusic()">
                    <i class="fa fa-save"></i>&nbsp;
                    <span>Lưu</span>
                </button>
                <button type="button" class="btn btn-success">
                    <i class="fa fa-save"></i>&nbsp;
                    <span>Lưu &amp; tiếp tục</span>
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-power-off"></i> &nbsp;
                    <span> Đóng</span>
                </button>
            </div>
        </div>
    </div>

</body>
<footer>

</footer>

</html>